@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - UniversityKitchen</title>
    
    <!-- Bootstrap Styles -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    
    <!-- Custom Styles -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/UniversityKitchen.styles.css" asp-append-version="true"/>
    
</head>
<body>

<div class="main_window d-flex w-100 h-100">
    <div class="d-flex flex-column flex-shrink-0 p-4 text-white bg-dark sidebar h-100" style="width: 15%">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-4">Sidebar</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a asp-controller="Home" asp-action="Index" class="nav-link bg-dark text-light">
                    Home
                </a>
            </li>
            <li>
                <a asp-controller="Dashboard" asp-action="Index"  class="nav-link">
                    Dashboard
                </a>
            </li>
            <li>
                <a asp-controller="Orders" asp-action="Index" class="nav-link">
                    Orders
                </a>
            </li>
            <li>
                <a asp-controller="Menu" asp-action="Index" class="nav-link">
                    Menu
                </a>
            </li>
            <li>
                <a asp-controller="Users" asp-action="Index" class="nav-link">
                    Users
                </a>
            </li>
            <li>
                <a asp-controller="Products" asp-action="Index" class="nav-link">
                    Products
                </a>
            </li>
            <li>
                <a asp-controller="Meal" asp-action="Index" class="nav-link">
                    Meals
                </a>
            </li>
            <li>
                <a asp-controller="Customers" asp-action="Index" class="nav-link">
                    Customers
                </a>
            </li>
        </ul>
    </div>
    <div class="content_page" style="width: 85%">
        @* Navbar ham faqat bir marta bo‘lishi kerak *@
        <div class="navbar w-100 p-0 m-0">
            <header class="p-3 mb-3 bg-dark border-bottom shadow-sm p-3 w-100">
                <div class="container">
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                        </a>

                        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ">
                            <li><a href="#" class="nav-link px-2 text-light link-secondary">Overview</a></li>
                            <li><a href="#" class="nav-link px-2 text-light link-body-emphasis">Inventory</a></li>
                            <li><a href="#" class="nav-link px-2 text-light link-body-emphasis">Customers</a></li>
                            <li><a href="#" class="nav-link px-2 text-light link-body-emphasis">Products</a></li>
                        </ul>

                        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                        </form>

                        <div class="dropdown text-end">
                            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                            </a>
                            <ul class="dropdown-menu text-small">
                                <li><a class="dropdown-item" href="#">New project...</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Sign out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div class="main_content">
            <div id="contentContainer">
                @RenderBody()
            </div>
        </div>
    </div>
</div>



<!-- Scripts -->
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)

</body>
</html>