@using UniversityKitchen.Data.Enum
@model UniversityKitchen.Features.Auth.Dtos.RegisterDto

@{
  Layout = "_Auth";
}


<div class="col-lg-6 mb-5 mb-lg-0">
  <div class="card">
    <div class="card-body py-5 px-md-5">
      <div class="row">
        <form asp-controller="Auth" asp-action="Register" method="post" class="col-md-12 mb-4 d-flex flex-column gap-4">
          <div data-mdb-input-init class="form-outline">
            <input asp-for="Firstname" type="text" id="form3Example1" class="form-control" placeholder="Firstname"/>
          </div>
          <div data-mdb-input-init class="form-outline">
            <input asp-for="Lastname" type="text" id="form3Example2" class="form-control" placeholder="lastname"/>
          </div>
          <div data-mdb-input-init class="form-outline">
            <input asp-for="Username" type="text" id="form3Example2" class="form-control" placeholder="Username"/>
          </div>
          <div data-mdb-input-init class="form-outline">
            <input asp-for="Password" type="text" id="form3Example2" class="form-control" placeholder="Password"/>
          </div>
          <div data-mdb-input-init class="form-outline d-flex gap-2">
            <div data-mdb-input-init class="form-outline col-md-4">
              <input asp-for="PhoneNumber" type="text" id="form3Example2" class="form-control" value="@Model.CountryCode" disabled/>
            </div>
            <div data-mdb-input-init class="form-outline col-md-8">
              <input asp-for="PhoneNumber" type="text" id="form3Example2" class="form-control" placeholder="Phone Number"/>
            </div>
          </div>
          <br/>
          <br/>
          <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">
            Sign up
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

