@{
    Layout = "_Layout";
}

<div class="main_window d-flex w-100">
    @await Html.PartialAsync("_Sidebar")
    <div class="content_page w-100">
        <div class="navbar w-100 p-0 m-0">
            @await Html.PartialAsync("_Navbar")
        </div>
        <div class="main_content">
            <h1>hello</h1>
        </div>
    </div>
</div>



