@model IEnumerable<UniversityKitchen.Data.Models.Product>




@{
    ViewData["Title"] = "Products";
}

<h2>Products</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<a asp-action="Create" class="btn btn-success">Yangi mahsulot qo‘shish</a>

<table class="table mt-3">
    <thead>
    <tr>
        <th>Nomi</th>
        <th>Narxi</th>
        <th>Miqdori</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Price.ToString("C")</td>
            <td>@item.Quantity</td>
        </tr>
    }
    </tbody>
</table>
